<div class="overflow-x-hidden">
  <section class="p-10 bg-slate-200">
    <h3 class="text-lg m-auto font-semibold w-6/12 text-slate-500">
      My Services
    </h3>
    <div class="flex flex-col justify-center content-center">
      <h2 class="w-6/12 m-auto text-lg font-medium">Front end development</h2>
      <div class="w-6/12 text-sm md:text-base m-auto leading-8 flex-wrap">
        Software development is my bread and butter. My daily inclination
        includes problem solving techniques; looking for the best way among
        various ways to create the next best service with scalability and
        durability.
      </div>
      <section
        class="flex justify-center content-center m-auto p-14 flex-wrap gap-4"
      >
        <div class="w-60 border-solid border-2 border-black p-10 leading-8">
          <h3 class="font-semibold text-xl mb-2">Web Design</h3>
          <p>
            I create unique interfaces which are aesthetically pleasing aimed at
            solving a problem while also easy to use
          </p>
        </div>
        <div class="w-60 border-solid border-2 border-black p-10 leading-8">
          <h3 class="font-semibold text-xl mb-2">Web development</h3>
          <p>
            I develop softwares and websites, providing solutions and
            functionality.
          </p>
        </div>
        <div class="w-60 border-solid border-2 border-black p-10 leading-8">
          <h3 class="font-semibold text-xl mb-2">Mobile Design</h3>
          <p>
            I design responsive and mobile softwares scalable across different
            devices
          </p>
        </div>
      </section>
    </div>
  </section>
  <section class="skills flex justify-center content-center flex-col pt-10">
    <div class="w-8/12 m-auto">
      <p class="text-2xl">
        I create amazing softwares using the following skills;
      </p>
      <div class="mt-10">
        <ul class="flex w-full flex-wrap content-center gap-5 justify-evenly">
          <li class="p-10 shadow-lg bg-slate-300 rounded m-auto content-center">
            <img src="./../../assets/icons8-javascript-logo-50.png" alt="" />
            <p class="mt-4">Javascript</p>
          </li>
          <li class="p-10 shadow-lg bg-slate-300 rounded m-auto">
            <img src="./../../assets/icons8-react-native-50.png" alt="" />
            <p class="mt-4">ReactJS</p>
          </li>
          <li class="p-10 shadow-lg bg-slate-300 rounded m-auto content-center">
            <img src="./../../assets/icons8-angularjs-50.png" alt="" />
            <p class="mt-4">Angular</p>
          </li>
          <li class="p-10 shadow-lg bg-slate-300 rounded m-auto content-center">
            <img src="./../../assets/icons8-laravel-50.png" alt="" />
            <p class="mt-4">Laravel</p>
          </li>
          <li class="p-10 shadow-lg bg-slate-300 rounded m-auto content-center">
            <img src="./../../assets//icons8-node-js-32.png" alt="" />
            <p class="mt-4">Node</p>
          </li>
        </ul>
      </div>
    </div>
  </section>
  <section id="projects" class="projects mt-10">
    <h3 class="text-4xl underline text-blue-300 w-8/12 ml-auto mb-8 mr-auto">
      Projects
    </h3>
    <div class="projects">
      <div class="flex flex-col justify-center md:flex-row p-20">
        <a
          href="http://kantech.netlify.app"
          target="_blank"
          rel="noopener noreferrer"
          class="mb-20 hover:underline-offset-8 text-slate-500 hover:underline m-auto font-bold text-2xl md:w-6/12 text-center"
        >
          E-commerce Application</a
        >

        <figure
          class="w-8/12 ml-auto mt-10 h-96 mr-auto md:w-6/12 animate-pulse"
        >
          <img
            src="./../../assets/React App - Google Chrome 11_10_2022 14_07_37.png"
            alt="ecommerce application"
            class="object-cover rounded-2xl shadow-xl shadow-slate-500 h-full w-full"
          />
        </figure>
      </div>

      <div
        class="flex flex-col justify-center mt-14 md:flex-row-reverse md:p-20"
      >
        <p
          class="hover:underline-offset-8 mb-20 md:text-center text-slate-500 hover:underline m-auto font-bold text-2xl md:w-6/12"
        >
          SignUp/Login Page
        </p>

        <figure
          class="w-8/12 ml-auto mt-10 h-96 mr-auto md:6/12 animate-bounce"
        >
          <img
            src="./../../assets/Screenshot 2022-05-28 050538.png"
            alt="sign up page"
            class="object-cover rounded-2xl shadow-xl shadow-slate-500 h-full w-full"
          />
        </figure>
      </div>
      <div class="flex flex-col justify-center mt-14 md:flex-row md:p-20">
        <a
          href="http://resm.netlify.app"
          target="_blank"
          rel="noopener noreferrer"
          class="mb-20 hover:underline-offset-8 md:text-center md:w-6/12 text-slate-500 hover:underline m-auto font-bold text-2xl"
        >
          Resume Maker</a
        >
        <figure
          class="w-8/12 ml-auto mt-10 md:w-6/12 h-96 mr-auto animate-pulse"
        >
          <img
            src="./../../assets/Screenshot 2022-05-28 222909.png"
            alt="resume maker"
            class="object-cover rounded-2xl shadow-xl shadow-slate-500 h-full w-full"
          />
        </figure>
      </div>
      <div class="flex flex-col justify-center mt-14 md:flex-row-reverse p-20">
        <a
          href="http://worldquiz.netlify.app"
          target="_blank"
          rel="noopener noreferrer"
          class="mb-20 md:w-6/12 md:text-center hover:underline-offset-8 text-slate-500 hover:underline m-auto font-bold text-2xl"
          >Quiz app</a
        >
        <figure class="w-8/12 ml-auto mt-10 h-96 mr-auto animate-bounce">
          <img
            src="./../../assets/Screenshot 2022-05-30 213848.png"
            alt="quiz app"
            class="object-cover rounded-2xl shadow-xl shadow-slate-500 h-full w-full md:6/12"
          />
        </figure>
      </div>
      <div class="flex flex-col justify-center mt-14 md:p-20 md:flex-row">
        <a
          href="http://photoviewr.netlify.app"
          target="_blank"
          rel="noopener noreferrer"
          class="mb-20 hover:underline-offset-8 text-slate-500 md:w-6/12 md:text-center hover:underline m-auto font-bold text-2xl"
        >
          Photo Gallery</a
        >
        <figure class="w-8/12 ml-auto mt-10 h-96 mr-auto animate-pulse">
          <img
            src="./../../assets/Screenshot 2022-05-30 213746.png"
            alt="ecommerce application"
            class="object-cover rounded-2xl shadow-xl shadow-slate-500 h-full w-full"
          />
        </figure>
      </div>
    </div>
  </section>
  <section id="about" class="about mt-10">
    <h2 class="m-auto w-8/12 text-center text-4xl font-semibold">FAQ</h2>
    <p class="w-8/12 text-sm leading-8 p-10 text-justify m-auto md:text-xl flex-wrap">
      I am a seasoned professional with up to a year of working on web
      development tools. I have practised on different APIs and I have learnt
      different concepts. I know the best tool for what. We know our onions. We
      write technical contents at
      <a
        target="_blank"
        href="https://afobaje.hashnode.dev"
        class="text-blue-300 hover:underline underline-offset-4 font-semibold"
        >afobaje's blog.</a
      >
    </p>
    <div>
      <ul>
        <li
          *ngFor="let q of faq"
          class="w-8/12 mr-auto ml-auto mt-3 bg-blue-100 p-6 rounded-xl"
        >
          <div class="flex justify-between border-b-2 border-slate-200">
            <p class="font-semibold text-2xl p-4">{{ q.question }}</p>
            <button
              (click)="displayAnswer(q, q.open)"
              class="font-bold text-2xl outline-none p-4"
            >
              {{ q.open ? "-" : "+" }}
            </button>
          </div>
          <p class="p-6 mt-4" [ngClass]="q.open ? '' : 'hidden'">
            {{ q.answer }}
          </p>
        </li>
      </ul>
    </div>
  </section>
</div>
