<footer class="block mt-8 bg-blue-50">
  <section class="flex justify-evenly">
    <div class="flex justify-center content-center w-6/12 flex-col">
      <h2 class="text-3xl font-bold text-center">Afobaje</h2>
    </div>
    <div id="contact" class="w-6/12">
      <ul class="flex justify-between w-full p-20 flex-wrap">
        <li class="h-8 w-8 mt-6">
          <a href="https://linkedin.com/in/ikukoyi-david" target="_blank"
            ><img
              src="./../../assets/icons8-linkedin-circled.svg"
              alt=""
              class="object-cover w-full h-full"
          /></a>
        </li>
        <li class="h-8 w-8 mt-6">
          <a target="_blank" href="https://github.com/afobaje"
            ><img
              src="./../../assets/icons8-github.svg"
              alt=""
              class="object-cover w-full h-full"
          /></a>
        </li>
        <li class="h-8 w-8 mt-6">
          <a target="_blank" href="https://twitter.com/davidblaqq"
            ><img
              src="./../../assets/icons8-twitter.svg"
              alt=""
              class="object-cover w-full h-full"
          /></a>
        </li>
        <li class="h-8 w-8 mt-6">
          <a target="_blank" href="https://ikukoyidave@gmail.com"
            ><img
              src="./../../assets/icons8-gmail.svg"
              alt=""
              class="object-cover w-full h-full"
          /></a>
        </li>
        <li class="h-8 w-8 mt-6">
          <a target="_blank" href="https://wa.link/vhxgof"
            ><img
              src="./../../assets/icons8-whatsapp-24.png"
              alt=""
              class="object-cover w-full h-full"
          /></a>
        </li>
      </ul>
    </div>
  </section>
</footer>
